<div class="parent-container">
    <div style="background-image: url('assets/img/KEDARNATH.jpg'); width: 70%; height: 600px;"></div>
     <div class="container" style="width:30%; ">
        <h3>Reset Password</h3>
        <form [formGroup] = "resetPassword" (ngSubmit)="changePassword()">
            <div class="form-group">
              <input type="text" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Password" formControlName="password1"> 
              <!-- <span *ngIf="(fval.password1.touched) && fval.password1.errors?.required">Enter Password</span> -->
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Re-Enter Password" formControlName="password2"> 
                <!-- <span *ngIf="(fval.password2.touched) && fval.password2.errors?.required">Re-Enter Password</span> -->
              </div>
            <div>
                <span *ngIf="fval.password2.errors?.ConfirmedValidator" style="color: red;">Passwords must be same.</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="resetPassword.invalid">Reset Password</button><br>
          </form>
    </div>
  </div>