<div class="parent-container">
    <div style="background-image: url('assets/img/KEDARNATH.jpg'); width: 70%; height: 600px;"></div>
    <div class="container" style="width:30%; ">
      <h3>Password Reset</h3>
      <span *ngIf="inValidCredentials" style="color: red;">{{errorMessage}}</span>
      <form [formGroup] = "password" (ngSubmit)="forgotPassword()">
        <div *ngIf="!otpReceived">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="mail"> 
            <!-- <span *ngIf="(fval.mail.touched) && fval.email.errors?.required">Please enter email address</span>
            <span *ngIf="(fval.mail.touched) && fval.email.errors?.email">Please enter valid email address</span> -->
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="password.invalid">Send OTP</button><br>
        </div>
          <!-- <div *ngIf="inValidCredentials">{{errorMessage}}</div> -->
          <div *ngIf="otpReceived">
            <div>
              <span style="color: red;" *ngIf="!otpMatch">Invalid OTP</span>
              <input type="text" class="form-control" id="otp" aria-describedby="emailHelp" placeholder="Enter otp" formControlName="otp"><br>
            </div>
            <button type="submit" class="btn btn-primary" (click)="verifyOtp()">Verify OTP</button><br>
          </div>
        </form>
    </div>
  </div>